body {
    background-color: #f5f5f5;
}

.form-title {
    margin-bottom: 20px;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

a, a:hover {
  text-decoration: none; }

.content {
  margin-top: 60px;
}

.wizard {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 50px;
  box-shadow:
        0 3px 1px -2px rgba(0,0,0,.14),
        0 2px 2px 0 rgba(0,0,0,.098),
        0 1px 5px 0 rgba(0,0,0,.084);
}

.navbar-separator {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: -50px;
  margin-right: -50px;
}

.wizard > .steps {
  position: relative;
}

.wizard > .steps .current-info, .wizard > .steps .number {
  display: none;
}

.wizard > .steps li {
  width: 33.33%;
  display: inline-block;
  text-align: center;
}

.wizard > .steps li a {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #d0d0d0;
}

.wizard > .steps li:first-child a:before {
  content: "1";
  position: relative;
  top: 6px;
  color: #fff;
}

.wizard > .steps li:nth-child(2) a:before {
  content: "2";
  position: relative;
  top: 6px;
  color: #fff;
}

.wizard > .steps li:last-child a:before {
  content: "3";
  position: relative;
  top: 6px;
  color: #fff;
}

.wizard > .steps li.current a:after {
  font-weight: bold;
}

.wizard > .steps li:first-child a:after {
  content: "Option";
  position: relative;
  top: 20px;
  left: -5px;
  text-align: center;
  color: #000;
}

.wizard > .steps li:nth-child(2) a:after {
  content: "Trade";
  position: relative;
  top: 20px;
  left: -3px;
  color: #000;
}

.wizard > .steps li:last-child a:after {
  content: "Review";
  position: relative;
  top: 20px;
  left: -7px;
  color: #000;
}

.wizard > .steps li.first a {
  background: #5f07eacf; }
.wizard > .steps li.checked a {
  background: #5f07eacf; }
  .wizard > .steps li.checked a:after {
    width: 140px; }
.wizard > .steps li:last-child a {
  margin-right: 0; }

.form-row {
  display: flex;
  margin-bottom: 20px; }
  .form-row .form-holder {
    width: 50%;
    margin-right: 20px; }
    .form-row .form-holder:last-child {
      margin-right: 0; }
    .form-row .form-holder.w-100 {
      width: 100%;
      margin-right: 0; }
  .form-row .form-group {
    width: 50%;
    display: flex; }
    .form-row .form-group .form-holder {
      margin-right: 21px; }
      .form-row .form-group .form-holder:last-child {
        margin-right: 0; }

.form-holder {
  position: relative; }

.actions {
  margin-top: 30px; }
  .actions ul {
    display: flex;
    justify-content: space-between; }
    .actions ul.step-4 {
      justify-content: center; }
      .actions ul.step-4 li:first-child {
        display: none; }
  .actions li a {
    border: none;
    display: inline-flex;
    height: 42px;
    width: 132px;
    align-items: center;
    color: #fff;
    cursor: pointer;
    background: #5f07eacf;
    text-transform: uppercase;
    justify-content: center;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 3px; }
    .actions li a:hover {
      text-decoration: none;
      background: #883dffcf; }
  .actions li:first-child a {
    width: 97px; }
  .actions li:last-child a {
    width: 234px; }